@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  font-family: "Inter", sans-serif;
}

/* Below are hover underlines */
.nav-link {
    position: relative;
    text-decoration: none;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the height to control the thickness of the underline */
    background-color: #0E7490;
    bottom: -3px; /* Adjust the bottom value to control the distance below the text */
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }

/* Below are bg styles when you copy text */
::selection {
  @apply bg-primary text-white;
}

::-moz-selection {
  @apply bg-primary text-white;
}